@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap');

* {
    font-family: 'Poppins', sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root{

    /* Colors */
    --body-color: #f3f3f3;
    --sidebar-color: #fcfcfc;
    --primary-color: #695cfe;
    --primary-color-light: #ffffff;
    --toggle-color: #ddd;
    --text-color: #8a8a8a;
    --selection-color: #8BB9E9;
    --border-color: #e5e5e5;

    /* Transition */
    --tran-02: all 0.2 ease;
    --tran-03: all 0.3 ease;
    --tran-04: all 0.4 ease;
    --tran-05: all 0.5 ease;
}

body {
    margin: 0;
    width: 100vw;
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background: var(--body-color);
    transition: var(--tran-04);
    border-collapse: collapse;
}

body.dark {
    --body-color: #202020;
    --sidebar-color: #242526;
    --primary-color: #3A3B3C;
    --primary-color-light: #3A3B3C;
    --toggle-color: #ccc;
    --text-color: #fff;
    --selection-color: #d3d3d3;
    --border-color: #1c1c1c;
}

body .main {
    position: fixed;
    top: 4px;
    left: 23px;
    height: 46px;
    align-items: center;
    width: 100%;
    background: var(--body-color);
    z-index: 75;
}

.main .image-text img {
    margin-top: 5px;
    width: 40px;
    border-radius: 6px;
}

.main .image-text {
    display: flex;
    align-items: center;
    flex-direction: row;
    text-align: center;
    width: 100%;
    justify-content: space-between;
}

.main .image-text .header-text {
    display: flex;
    width: 100%;
    flex-direction: column;
    text-align: center;
    color: var(--text-color);
}

.main .header-text .name {
    font-weight: 600;
}

.main .header-text .developer {
    font-size: small;
}

/* Main Sidebar */
.sidebar-main {
    position: fixed;
    top: 50px;
    left: 4px;
    height: 100%;
    width: 80px;
    padding: 10px 14px;
    transition: var(--tran-05);
    z-index: 50;
}

.sidebar-main li {
    height: 50px;
    margin-top: 10px;
    list-style: none;
    display: flex;
    align-items: center;
}

.sidebar-main li .icon {
    display: flex;
    align-items: center;
    justify-content: center;
    min-width: 50px;
    font-size: 20px;
    color: var(--text-color);
}

.sidebar-main li .color {
    filter: invert(64%) sepia(0%)
     saturate(0%) hue-rotate(192deg)
      brightness(86%) contrast(83%);
}

body.dark .sidebar-main li .color {
    filter: invert(90%) sepia(0%)
     saturate(7460%) hue-rotate(125deg)
      brightness(115%) contrast(112%);
}

.sidebar-main li a{
    height: 100%;
    width: 100%;
    display: flex;
    align-items: center;
    text-decoration: none;
    border-radius: 6px;
    transition: var(--tran-04);
}

.sidebar-main li a:hover {
    background: var(--selection-color);
}

.sidebar-main .active {
    background-color: var(--selection-color);
    border-radius: 5px;
}

.sidebar-main .menu-bar {
    height: calc(100% - 50px);
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
.sidebar .menu-bar {
    height: calc(100% - 50px);
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.sidebar-main .menu-bar .mode {
    position: relative;
    background: var(--primary-color-light);
}

.sidebar-main .menu-bar .mode i {
    position: absolute;
    transition: var(--tran-03);
}

.sidebar-main .menu-bar .mode i.sun {
    top: 4.5px;
    right: 10px;
    opacity: 0;
}

.sidebar-main .menu-bar .mode i.moon {
    top: 4px;
    left: 11px;
    opacity: 1;
}

body.dark .sidebar-main .menu-bar .mode i.sun {
    opacity: 1;
}

body.dark .sidebar-main .menu-bar .mode i.moon {
    opacity: 0;
}

.sidebar-main .menu-bar .mode .toggle-switch {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 50px;
    width: 60px;
    cursor: pointer;
    background: var(--primary-color-light);
    transition: var(--tran-05);
}

.sidebar-main .toggle-switch .switch {
    position: relative;
    height: 28px;
    width: 50px;
    border-radius: 25px;
    background: var(--toggle-color);
}

.sidebar-main .switch::before {
    content: "";
    position: absolute;
    height: 20px;
    width: 20px;
    border-radius: 50%;
    top: 50%;
    left: 5px;
    transform: translateY(-50%);
    background: var(--sidebar-color);
    transition: var(--tran-03);
}

body.dark .sidebar-main .switch::before {
    left: 25px;
}


/* Sidebar */
.sidebar {
    position: fixed;
    top: 50px;
    left: 80px;
    height: 100%;
    width: 180px;
    padding: 10px 14px;
    background: var(--sidebar-color);
    transition: var(--tran-05);
    z-index: 100;
    border-top-left-radius: 10px;
    border-bottom-left-radius: 10px;
    border: 2px solid var(--border-color);
}

.sidebar.close {
    width: 88px;
}

.sidebar .text {
    font-size: 16px;
    font-weight: 500;
    color: var(--text-color);
    transition: var(--tran-04);
    white-space: nowrap;
    opacity: 1;
}

.sidebar.close .text {
    opacity: 0;
}

.sidebar li {
    height: 50px;
    margin-top: 10px;
    list-style: none;
    display: flex;
    align-items: center;
}

.sidebar li .icon {
    display: flex;
    align-items: center;
    justify-content: center;
    min-width: 60px;
    font-size: 20px;
}

.sidebar li .icon,
.sidebar li .text {
    color: var(--text-color);
    transition: var(--tran-02);
}

.sidebar header {
    position: relative;
}

.sidebar header .toggle {
    position: absolute;
    margin-top: 10px;
    top: 50%;
    right: -27px;
    transform: translateY(-50%) rotate(180deg);
    height: 25px;
    width: 25px;
    background: var(--primary-color);
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 50%;
    color: var(--sidebar-color);
    font-size: 22px;
    transition: var(--tran-03);
}

.sidebar.close header .toggle {
    transform: translateY(-50%);
}

body.dark .sidebar header .toggle {
    color: var(--text-color);
}

.sidebar .search-box {
    background: var(--primary-color-light);
    border: 1px solid var(--border-color);
    border-radius: 6px;
    transition: var(--tran-05);
}

.sidebar .search-box input {
    height: 100%;
    width: 100%;
    outline: none;
    border: none;
    border-radius: 6px;
    font-size: 16px;
    font-weight: 500;
    background: var(--primary-color-light);
    transition: var(--tran-05);
}

body.dark .search-box input {
    color: #fff;
}

.sidebar li a{
    height: 100%;
    width: 100%;
    display: flex;
    align-items: center;
    text-decoration: none;
    border-radius: 6px;
    transition: var(--tran-04);
}

.sidebar li a:hover {
    background: var(--primary-color);
}

.sidebar li a:hover .icon,
.sidebar li a:hover .text {
    color: var(--sidebar-color);
}

body.dark .sidebar li a:hover .icon,
body.dark .sidebar li a:hover .text {
    color: var(--text-color);
}

.sidebar .menu-bar {
    height: calc(100% - 50px);
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.home {
    position: fixed;
    top: 50px;
    left: 258px;
    height: 100vh;
    width: calc(100%);
    transition: var(--tran-05);
    border: 2px solid var(--border-color);
}

.home .text {
    margin-left: 20px;
    font-size: 30px;
    font-weight: 500;
    color: var(--text-color);
}

.sidebar.close ~ .home {
    left: 166px;
    width: calc(100% - 180px);
}
